 #grid {
      background: green;
      display: grid;
      grid-template-columns: repeat(4, 242.5px);
      grid-template-rows: repeat(5, 124.5px);
	 grid-gap: 10px 10px;
  
    }

    div {
      border: 1px solid white;
      padding: 20px;
      color: white;
      font-size: 20px;
      text-align: center;
    }

    .item-1 {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
    }

    .item-2 {
      grid-column: 1 / 2;
      grid-row: 2 / 6;
    }

    .item-3 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    .item-4 {
      grid-column: 3 / 5;
      grid-row: 2 / 3;
    }

    .item-5 {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
    }

    .item-6 {
      grid-column: 4 / 5;
      grid-row: 3 / 4;
    }

    .item-7 {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }

    .item-8 {
      grid-column: 3 / 4;
      grid-row: 4 / 5;
    }

    .item-9 {
      grid-column: 4 / 5;
      grid-row: 4 / 5;
    }

    .item-10 {
      grid-column: 2 / 5;
      grid-row: 5 / 6;
    }