 #grid {
      background: green;
      display: grid;
      grid-template-columns: repeat(4, 242.5px);
      grid-template-rows: repeat(5, 124px);
	 grid-gap: 10px 10px;
  
    }

    div {
      border: 1px solid white;
      padding: 20px;
      color: white;
      font-size: 20px;
      text-align: center;
    }

  
.item-1 { grid-column: span 4; grid-row: span 1; }

    .item-2 {
      grid-column: span 1;
      grid-row: span 4;
    }

    .item-3 {
     grid-column: span 1;
      grid-row: span 1;
    }

    .item-4 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .item-5 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .item-6 {
       grid-column: span 1;
      grid-row: span 1;
    }

    .item-7 {
     grid-column: span 1;
      grid-row: span 1;
    }

    .item-8 {
     grid-column: span 1;
      grid-row: span 1;
    }

    .item-9 {
    grid-column: span 1;
      grid-row: span 1;
    }

    .item-10 {
     grid-column: span 3;
      grid-row: span 1;
    }